In [1]:
print(2+2)

4

In [2]:
print('Hello, World!')

Hello, World!

In [3]:
# assign a variable to a literal value
a = 3
print('five times a is',5*a,'and 3 multiplied by a is',3*a)
a = 2
print('five times a is ',5*a,'and 3 multiplied by a is',3*a)

five times a is 15 and 3 multiplied by a is 9
five times a is  10 and 3 multiplied by a is 6

In [4]:
# we can also inspect the type of variables
print('a is of type',type(a))
b = 2.1
c = float(a) / b
print('c is of type',type(c),'and its value is',c)
d = a / b
print('d is of type',type(c),'and its value is',d)

a is of type <class 'int'>
c is of type <class 'float'> and its value is 0.9523809523809523
d is of type <class 'float'> and its value is 0.9523809523809523

# Collection of variables
1. list
2. tuple
3. set
4. dictionary

In [5]:
# list is an ordered and indexed collection of values that are mutable and allows duplicates
simple_list = ['Dan', 2, 3, 4, 'python', 2.71]
print(simple_list)
print(simple_list[0])
print(simple_list[3])
print(simple_list[-1])
print(simple_list[-2])
print(len(simple_list))

['Dan', 2, 3, 4, 'python', 2.71]
Dan
4
2.71
python
6

In [6]:
simple_list[3] = 52
print(simple_list)
print(simple_list[0])
simple_list.append('to the back')
print(simple_list)
print(len(simple_list))
simple_list.pop(4)
print(simple_list)

['Dan', 2, 3, 52, 'python', 2.71]
Dan
['Dan', 2, 3, 52, 'python', 2.71, 'to the back']
7
['Dan', 2, 3, 52, 2.71, 'to the back']

In [7]:
# it is easy to initialize a list of a particular size with all enteries the same
repeated_list = [5]*4
print(repeated_list)

[5, 5, 5, 5]

In [8]:
simple_list

['Dan', 2, 3, 52, 2.71, 'to the back']

In [9]:
simple_list[1] = [1,2,3]
print(simple_list)
print(simple_list[1])
print(simple_list[1][1])

['Dan', [1, 2, 3], 3, 52, 2.71, 'to the back']
[1, 2, 3]
2

In [10]:
# copying list is little tricky
list2 = simple_list
print(list2)
print(simple_list)
list2[1] = 0
print(list2)
print(simple_list)

['Dan', [1, 2, 3], 3, 52, 2.71, 'to the back']
['Dan', [1, 2, 3], 3, 52, 2.71, 'to the back']
['Dan', 0, 3, 52, 2.71, 'to the back']
['Dan', 0, 3, 52, 2.71, 'to the back']

In [12]:
# we can use copy() method to prevent this behavior
list3 = simple_list.copy()
print(list3)
print(simple_list)
list3[3] = 0
print(list3)
print(simple_list)

['Dan', 0, 3, 52, 2.71, 'to the back']
['Dan', 0, 3, 52, 2.71, 'to the back']
['Dan', 0, 3, 0, 2.71, 'to the back']
['Dan', 0, 3, 52, 2.71, 'to the back']

In [13]:
# a tuple is an ordered collection of values that are immutable and allows duplicates
simple_tuple = (12,42,11,99,2351)
print(simple_tuple)
print(simple_tuple[1])

(12, 42, 11, 99, 2351)
42

In [14]:
# simple_tuple[0] = 5 ->Error

In [15]:
# work around for making changes in the tuple and making it act like a mutable DS
dummy = list(simple_tuple)
dummy[0] = 5
simple_tuple = tuple(dummy)
print(simple_tuple)

(5, 42, 11, 99, 2351)

In [17]:
# a set is an unordered collection of values that are mutable and does not allow duplicates
simple_set = {11,-2,'water',-2}
print(simple_set)

{11, 'water', -2}

In [19]:
# print(simple_set[1]) -> Error

In [20]:
print('water' in simple_set)

True

In [21]:
simple_set

{-2, 11, 'water'}

In [22]:
simple_set.add(72)
print(simple_set)
simple_set.remove('water')
print(simple_set)

{72, 11, 'water', -2}
{72, 11, -2}

In [24]:
# a dictionary is an unordered collection of values that are mutable 
simple_dict = {'brand': 'Apple','product': 'iphone', 'model':'X'}
print(simple_dict)
print('I bought an', simple_dict['product'],'model',simple_dict['model'],'from',simple_dict['brand'])

{'brand': 'Apple', 'product': 'iphone', 'model': 'X'}
I bought an iphone model X from Apple

In [25]:
simple_dict['model'] = '11 pro'
print('I bought an', simple_dict['product'],'model',simple_dict['model'],'from',simple_dict['brand'])

I bought an iphone model 11 pro from Apple

In [27]:
simple_dict['color'] = 'black'
print(simple_dict)
print('I bought a',simple_dict['color'] ,simple_dict['product'],'model',simple_dict['model'],'from',simple_dict['brand'])

{'brand': 'Apple', 'product': 'iphone', 'model': '11 pro', 'color': 'black'}
I bought a black iphone model 11 pro from Apple

# Accessing Data in Lists with Indexing

In [28]:
simple_list = [1,2,3,4,55,1932,11]
print(simple_list[2:5])
print(simple_list[2:3])
print(simple_list[-5:-1])

[3, 4, 55]
[3]
[3, 4, 55, 1932]

# Flow Control
1. Loops
2. Conditionals

## Loops 
- an efficient way to tell the computer to perform a command multiple times. Each iteration of the loop will use new data to perform the command or depend on the previous loop
- 2 types of loop: for, while

In [30]:
counter = 0
simple_list = [0,1,2,3,4,5,6,2143,123,7834]
for i in simple_list:
    print(i)
    counter = counter + 1
print('This line is not inside the loop')
print('The loop cycled',counter,'times')

0
1
2
3
4
5
6
2143
123
7834
This line is not inside the loop
The loop cycled 10 times

In [31]:
for i in simple_list[1:4]:
    for j in simple_list[4:7]:
        print(i*j)
    print('outside if j loop')
print('outside of both loops')

4
5
6
outside if j loop
8
10
12
outside if j loop
12
15
18
outside if j loop
outside of both loops

In [32]:
print(range(6))

range(0, 6)

In [33]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [34]:
for i in range(4,10):
    print(i)

4
5
6
7
8
9

In [35]:
for i in range(2,10,3):
    print(i)

2
5
8

In [36]:
i = 4
while i<10:
    print(i)
    i = i+1
print('Outside of Loop')

4
5
6
7
8
9
Outside of Loop

## Conditionals
- if statement
- else statement
- elif statement

In [37]:
i = 30
if i<10:
    print(i,'is less than 10')
    print('run this also')
else:
    print(i,'is greater than 10')

30 is greater than 10

In [38]:
i = 3
if i > 10:
    print(i,'is greater than 10')
elif i <3:
    print(i,'is less than 3')
elif i >4:
    print(i)
else:
    print(i,'is between 3 and 10')

3 is between 3 and 10