IF, ELIF, ELSE STATEMENT IN PYTHON

In [1]:

if True:
    print('Its True!!')

Its True!!

In [2]:
if 3>2:
    print('True')

True

In [6]:
hungry = False
if hungry:
        print('Feed Me!!')
else:
    print('not Hungry!!')

not Hungry!!

In [12]:
loc = 'Game'
if loc == 'Auto Shop':
    print('Cars are cool')
elif loc == 'Bank':
    print('Money is Cool!')
elif loc == 'Store':
    print('Welcome to the store')
else:
    print('I do not know much')

I do not know much

In [16]:
name = 'Sammy'
if name == 'Franky':
    print('hello Franky!')
elif name == 'Sammy':
    print('Hello Sammy!')
else:
    print('What is your name ?')

Hello Sammy!

FOR LOOPS IN PYTHON

In [17]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [18]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [20]:
for num in mylist:
    if num%2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [21]:
list_sum = 0
for num in mylist:
    list_sum = list_sum + num
print(list_sum)

55

In [22]:
mystring = 'Hello World'
for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [23]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [24]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [25]:
len(mylist)

4

In [26]:
for item in mylist: #TUPLE UNPACKING
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [29]:
for (a,b) in mylist: #TUPLE UNPACKING
   # print(a)
    print(b)

2
4
6
8

In [30]:
d = {'k1':1,'k2':2,'k3':3}

for item in d:
    print(item)

k1
k2
k3

In [41]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

WHILE LOOPS IN PYTHON

In [43]:
x = 0
while x < 5:
    print(f'The current value of x is : {x}')
    x = x+1
else:
    print('x is not less than 5')

The current value of x is : 0
The current value of x is : 1
The current value of x is : 2
The current value of x is : 3
The current value of x is : 4
x is not less than 5

In [45]:
x = [1,2,3]
for item in x:
    #comment
    pass
print('end of my script')

end of my script

In [46]:
mystring = 'Sammy'

In [51]:
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [50]:
x = 0
while x< 5:
    if x == 2:
        break
    print(x)
    x = x+1

0
1

USEFUL OPERATORS IN PYTHON

In [52]:
mylist = [1,2,3]

In [55]:
for num in range(1,10,2):
    print(num)

1
3
5
7
9

In [56]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [57]:
index_count = 0

for letter in 'abcde':
    print(f'At index {index_count} the letter is {letter}')
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [59]:
index_count = 0
word = 'abcde'

for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [60]:
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [61]:
for index,letter in enumerate(word):
    print(f'At index {index} the letter is {letter}')

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [64]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [65]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [66]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [67]:
'x' in ['x','y','z']

True

In [68]:
'a' in 'a world'

True

In [69]:
'mykey' in {'mykey':12345}

True

In [71]:
d = {'mykey':12}

12 in d.values()

True

In [72]:
mylist = [10,20,30,100]

In [73]:
min(mylist)

10

In [74]:
max(mylist)

100

In [75]:
from random import shuffle

In [76]:
mylist = [1,2,3,4,5]

In [77]:
shuffle(mylist)   #In place method

In [78]:
mylist

[2, 3, 4, 5, 1]

In [79]:
from random import randint

In [80]:
randint(0,100)

13

In [81]:
randint(0,100)

68

In [82]:
mynum = randint(0,10)

In [83]:
mynum

4

In [84]:
input('Enter a number here: ')

Enter a number here: 50

'50'

In [85]:
name = input('What is your name?')

What is your name?siddhant

In [88]:
input_num = input('Enter your lucky number: ')

Enter your lucky number: 6

In [89]:
type(input_num)

str

In [90]:
int(input_num)

6

## LIST COMPREHENSION

In [91]:
mystring = 'Hello'

In [92]:
mylist = []
for letter in mystring:
    mylist.append(letter)

In [93]:
mylist

['H', 'e', 'l', 'l', 'o']

In [94]:
another_string = 'how is your life'

In [95]:
mylist = [letter for letter in another_string]

In [96]:
mylist

['h',
 'o',
 'w',
 ' ',
 'i',
 's',
 ' ',
 'y',
 'o',
 'u',
 'r',
 ' ',
 'l',
 'i',
 'f',
 'e']

In [97]:
mylist = [x for x in 'word']

In [98]:
mylist

['w', 'o', 'r', 'd']

In [99]:
mylist = [x for x in range(0,11)]

In [100]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [101]:
mylist = [num**2 for num in range(1,6)]

In [102]:
mylist

[1, 4, 9, 16, 25]

In [103]:
mylist = [x for x in range(0,11) if x%2 == 0]

In [104]:
mylist

[0, 2, 4, 6, 8, 10]

In [105]:
celcius = [0,10,20,34.5]

fahrenhite = [((9/5)*temperature +32) for temperature in celcius]

In [106]:
fahrenhite

[32.0, 50.0, 68.0, 94.1]

In [107]:
results = [x if x%2 == 0 else 'ODD' for x in range(0,10)]

In [108]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD']

In [109]:
mylist = []
for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [110]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [111]:
mylist = [x*y for x in [2,4,6] for y in [100,200,300]]

In [112]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]