In [3]:
def say_hello():
    print('hello')
    print('are')
    print('you')

In [4]:
say_hello()

hello
are
you

In [5]:
say_hello

In [11]:
def say_hello(name = 'Default'):
    print(f'Hello {name}')

In [8]:
say_hello('sid')

Hello sid

In [9]:
say_hello('jelly')

Hello jelly

In [12]:
say_hello()

Hello Default

In [13]:
def add_num(num1,num2):
    return num1+num2

In [14]:
add_num(10,20)

30

In [15]:
result = add_num(10,20)

In [17]:
def print_result(a,b):
    print(a+b)

In [18]:
def return_result(a,b):
    return a+b

In [19]:
print_result(11,12)

23

In [20]:
result = return_result(11,12)

In [21]:
result

23

In [22]:
def myfunc(a,b):
    print(a+b)
    return a+b

In [23]:
result = myfunc(10,20)

30

In [24]:
result

30

In [25]:
def sum_numbers(num1,num2):
    return num1+num2

In [26]:
sum_numbers(10,20)

30

In [27]:
sum_numbers('10','20')

'1020'

In [30]:
def even_check(number):
    return number % 2 == 0

In [31]:
even_check(20)

True

In [32]:
even_check(21)

False

In [33]:
# RETURN TRUE IF ANY NUMBER IS EVEN INSIDE A LIST

In [47]:
def check_even_list(num_list):
    #return all the even numbers in a list
    even_numbers = []
    for num in num_list:
        if num % 2 == 0:
            even_numbers.append(num)
        else:
            continue
    return even_numbers

In [48]:
check_even_list([1,3,5,7])

[]

In [49]:
check_even_list([2,4,5])

[2, 4]

In [50]:
check_even_list([2,1,1,1,1])

[2]

In [51]:
check_even_list([1,3,7,2])

[2]

In [55]:
stock_price = [('Apple',200),('Google',400),('Microsoft',100)]

In [57]:
for ticker,price in stock_price:
    print(price+(0.1*price))

220.0
440.0
110.0

In [66]:
work_hours = [('Abby',100),('Billy',4000),('Cassie',800)]

In [61]:
def employee_check(work_hours):
    current_max = 0
    employee_of_month = ''
    for employee,hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            continue
    return (employee_of_month,current_max)

In [68]:
employee,hour = employee_check(work_hours)

In [69]:
print(f'{employee} is the employee of the month. working hours - {hour}')

Billy is the employee of the month. working hours - 4000

In [70]:
example = [1,2,3,4,5,6,7]

In [71]:
from random import shuffle

In [72]:
shuffle(example)

In [73]:
example

[1, 6, 4, 5, 3, 2, 7]

In [74]:
shuffle(example)

In [75]:
example

[1, 2, 5, 4, 6, 7, 3]

In [76]:
shuffle(example)

In [77]:
example

[1, 4, 7, 3, 5, 6, 2]

CREATING GAME FUNCTION

In [78]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [79]:
shuffled_list = shuffle_list(example)

In [80]:
shuffled_list

[5, 2, 7, 4, 1, 6, 3]

In [81]:
mylist = ['','O','']

In [82]:
shuffled_list = shuffle_list(mylist)

In [83]:
shuffled_list

['O', '', '']

In [89]:
def player_guess():
    guess = 100
    while guess not in [0,1,2]:
        guess = int(input('Pick a number: 0,1 or 2'))
    return guess

In [90]:
player_guess()

Pick a number: 0,1 or 2100
Pick a number: 0,1 or 299
Pick a number: 0,1 or 23
Pick a number: 0,1 or 22

2

In [91]:
myindex = player_guess()

Pick a number: 0,1 or 22

In [92]:
myindex

2

In [93]:
def check_guess(mylist,guess):
    if mylist[guess] == 'O':
        print('Correct!!')
    else:
        print('Wrong guess!!')
    print(mylist)

In [94]:
check_guess(shuffled_list,myindex)

Wrong guess!!
['O', '', '']

In [95]:
myindex = player_guess()

Pick a number: 0,1 or 20

In [96]:
check_guess(shuffled_list,myindex)

Correct!!
['O', '', '']

In [98]:
def game_function(game_list):
    print('WELCOME TO THE GAME')
    shuffled_list = shuffle_list(game_list)
    user_guess = player_guess()
    check_guess(shuffled_list,user_guess)

In [104]:
game_function(['','O',''])

WELCOME TO THE GAME
Pick a number: 0,1 or 21
Wrong guess!!
['O', '', '']

EXERCISE

In [105]:
def myfunc():
    print('Hello World')

In [106]:
myfunc()

Hello World

In [107]:
def myfunc(name):
    print('Hello {}'.format(name))

In [108]:
myfunc('Siddhant')

Hello Siddhant

In [111]:
def myfunc(bool_val):
    if bool_val:
        return 'Hello'
    else:
        return 'Goodbye'

In [112]:
myfunc(True)

'Hello'

In [113]:
myfunc(False)

'Goodbye'

In [114]:
def myfunc(x,y,z):
    if z:
        return x
    else:
        return y

In [116]:
myfunc('Hello','Goodbye',True)

'Hello'

In [117]:
def myfunc(a,b):
    return a+b

In [118]:
def is_even(num):
    if num % 2 == 0:
        return True
    else:
        return False

In [119]:
def is_greater(num1,num2):
    return num1>num2


**args and ***kwargs

In [120]:
def myfunc(a,b):
    return sum((a,b)) * 0.05

In [121]:
myfunc(40,60)

5.0

In [124]:
def myfunc(a,b,c=0,d=0,e=0):
    return sum((a,b,c,d,e)) * 0.05

In [125]:
myfunc(40,60,100)

10.0

In [132]:
def myfunc(*args):
    for item in args:
        print(item)
    print('\n')
    print(args)
    return sum(args) * 0.05

In [133]:
myfunc(1,3,4,5,6,7,4,70)

1
3
4
5
6
7
4
70


(1, 3, 4, 5, 6, 7, 4, 70)

5.0

In [141]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find my fruit here')

In [142]:
myfunc(fruit = 'apple',veggie = 'lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
My fruit of choice is apple

In [143]:
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[0],kwargs['food']))

In [144]:
myfunc(10,20,30,food = 'eggs',fruit = 'oranges',animal = 'Dog')

(10, 20, 30)
{'food': 'eggs', 'fruit': 'oranges', 'animal': 'Dog'}
I would like 10 eggs

In [145]:
def myfunc(*args):
    return sum(args)

In [146]:
myfunc(2,3,4)

9

In [156]:
def myfunc(*args):
    temp_list = []
    for item in args:
        if item % 2 == 0:
            temp_list.append(item)
        else:
            pass
    return temp_list

In [157]:
myfunc(0,1,2,3,4,5,6,7,8,9,10)

[0, 2, 4, 6, 8, 10]

In [180]:
def myfunc(a_string):
    
    for i,letter in enumerate(a_string):
        if i % 2 == 0:
            a_string = a_string.replace(letter,letter.upper())
        else:
            pass
    return a_string

In [182]:
myfunc('sidh')

'SiDh'

In [194]:
name = 'Aamir'

In [196]:
name = name.replace('A','a')

In [197]:
name

'aamir'

LAMBDA EXPRESSIONS, MAP AND FILTER FUNCTIONS

In [198]:
def square(num):
    return num**2

In [199]:
my_nums = [1,2,3,4,5]

In [201]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [202]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [203]:
def slicer(mystring):
    if len(mystring) % 2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [204]:
names = ['Andy','Eve','Sally']

In [205]:
list(map(slicer,names))

['EVEN', 'E', 'S']

In [206]:
 slicer(names)

'Andy'

In [207]:
def check_even(num):
    return num%2==0

In [208]:
mynumbers = [1,2,3,4,5,6]

In [210]:
list(filter(check_even,mynumbers))

[2, 4, 6]

In [211]:
def check_name(name):
    if name == 'Sidd':
        return True
    else:
        return False

In [212]:
name_list = ['Andy','Jan','Saneeta','Sidd','What']

In [213]:
list(filter(check_name,name_list))

['Sidd']

In [214]:
list(map(check_name,name_list))

[False, False, False, True, False]

In [215]:
list(map(lambda num:num**2,[1,2,3,4,5]))

[1, 4, 9, 16, 25]